<div class="header">
    <span>
        <button class="previous-page" type="button" (click)="previousPage()"></button>
        <span class="page-number"> {{ page }} </span>
        <button class="next-page" type="button" (click)="nextPage()"></button>
    </span>
    
    <p class="title is-2">Gotta Catch 'Em All!</p>
</div>

<div class="poke-block">
    <ul class="container" *ngFor="let pokemon of pokemonList | paginate:{itemsPerPage: 20, currentPage: page}">
        <li >
            <a href=""></a><img class="tile_image" src="{{pokemon.sprites}}" alt="pokedex" width="120" height="120">
            <p class="tile_p">{{ pokemon.name.charAt(0).toUpperCase() + pokemon.name.slice(1) }}</p>
        </li>
    </ul>
</div>