<p class="title is-2">Team List</p>
<div class="tile is-ancestor teams-container">
<div class="tile is-vertical is-10 center" >
    <div class="tile is-parent is-vertical">
        
        <div class="tile team-item" *ngFor="let team of teams">
            <div class="tile is-child">
                <a [title]="team.owner + '\'s' +' team'" [routerLink]="['/team', team.id]">
                    <p class="title is-4 pokemon-name">{{team.owner}}</p>
                </a>
                <div class="columns">
                    <div class="column pokemon-item" *ngFor="let pokemon of team.pokemons">
                        <p class="subtitle is-6">{{ pokemon.name }}</p>
                        <img class="poke-img" [src]="pokemon.url" height="120" width="120"/>
                    </div>
                </div>
            </div>

            <div class="search" *ngIf="team.pokemons.length < 6">
                <app-pokemon-search></app-pokemon-search>
            </div>  
        </div>
        
        
    </div>
</div>
</div>
