/* .search {
    display: block;
    float:left;
} */
.teams-container {
    justify-content: center;
}

.team-item {
    border: 6px solid #ffffff;
    border-style: solid;
    border-radius: 40px;
    padding: 25px;
    margin: 10px auto;
    width: 100%;
    background-color: #f14668;
}

.team-item:hover {
    border-color: black;

}

.pokemon-name {
    margin: 0px 0px 35px;
}

.pokemon-item {
    text-align: center;
    border: 4px solid #f14668;
    background-color: rgb(241, 241, 241);
    margin: 0px 10px 30px;
    border-radius: 14px;
}

.pokemon-item:hover p {
    color: #f14668;
}

.pokemon-item:hover {
    border-color: black;
}

.poke-img {
    border-radius: 14px;
}
