<p class="title is-2">Team List</p>
<button (click)="getPokemonImages()">test</button>


<div class="media" *ngFor="let team of teams">
    <div class="box">
        
        <div class="columns">
            <div class="column media-left">
                <a [title]="team.owner + '\'s' +' team'" [routerLink]="['/team', team.id]">
                    <p class="title is-4">{{team.owner}}</p>
                </a>
            </div>
            <div class="media-content" *ngFor="let pokemon of team.pokemons">
                    <p class="subtitle is-6">{{ pokemon.name }}</p>
                    <img [src]="pokemon.url" height="120" width="120"/>
            </div>

            
        </div>
        <div class="search">
            <app-pokemon-search></app-pokemon-search>
        </div>
        
    </div>
